[2016-05-26 10:18] gubuntu opened #1 "setup geonode instance"
We need an instance of geonode dedicated to this project running on kartoza5 at http://staging.oondra.kartoza.com
- based on geonode source, not packages, because we might be making modifications
- default install to start with
- Kartoza best practice based on GeoSAFE project
- default geoserver backend

@NyakudyaA please share with @rischanlab what you did so far on your dev machine so that we en

[2016-05-26 10:19] gubuntu opened #2 "populate remote population feed metadata"
# Objective

We need to publish metadata for remote population feeds.
# Solution

Go through https://docs.google.com/a/fossgisacademy.com/spreadsheets/d/1ZkL4QzzbUSb7AD5ElLwVfVXtra3XHvzJqeRpO4v_ZUw/edit?usp=sharing and identify feeds that meet these criteria and create and populate metadata records for them that meet InaSAFE requirements:
- can be used without modification in InaSAFE
- cover Tanza

[2016-05-26 10:19] gubuntu opened #3 "populate remote hazard feed metadata"

[2016-05-26 10:22] gubuntu opened #4 "download and publish population data"
# Objective

We need to publish metadata for remote population datasets that are not live feeds.
# Solution

Go through https://docs.google.com/a/fossgisacademy.com/spreadsheets/d/1ZkL4QzzbUSb7AD5ElLwVfVXtra3XHvzJqeRpO4v_ZUw/edit?usp=sharing and identify feeds that meet these criteria and then download them, ingest into Geonode and populate metadata records for them that meet InaSAFE requirements:

[2016-05-26 10:22] gubuntu opened #5 "download and publish hazard data"
for datasets that are not live feeds

[2016-05-26 10:26] gubuntu opened #6 "define metadata for InaSAFE ingestion"
define
- which fields must be populated
- how the content must be structured
- lookups / thesauruses

for InaSAFE users to be able to
- search for and browse model inputs

for InaSAFE system (Geonode or QGIS) to
- ingest and use the user-selected feeds as model inputs

every metadata record that gets loaded onto this platform must meet minimum InaSAFE requirements
- add django / js validation ifit

[2016-05-26 10:27] gubuntu opened #7 "update metadata as per #6"

[2016-05-26 10:28] gubuntu opened #8 "design QGIS interface to catalogue"
# Use Case

A QGIS InaSAFE user does not have their own hazard or exposure data but they want to run some InaSAFE impact functions for their area of interest.
1.  instead of searching their local filesystem, the user has the option to 'Find online data'
2. Browse / search options (use existing plugins like Metatools or Metasearch or other existing CSW client work):
   1. QGIS connects to http://oo

[2016-05-26 10:28] gubuntu opened #9 "design GeoSAFE interface to catalogue"

[2016-05-26 10:28] gubuntu opened #10 "implement QGIS interface to catalog"

[2016-05-26 10:29] gubuntu opened #11 "design and implement GeoSAFE interface to catalogue"
# Use Case

A GeoSAFE user does not have their own hazard or exposure data but they want to run some InaSAFE impact functions for their area of interest.
1.  instead of searching their local filesystem or layers already on GeoSAFE, the user has the option to 'Find online data' (by browsing or searching)
2. GeoSAFE connects to http://oondra.kartoza.com and sets up a normal metadata browsing session

[2016-05-26 10:30] gubuntu opened #12 "plan risk atlas"
design a template / outline

list requirements, e.g.
- what types of analysis
- what maps
- what stats
- which area(s)
  etc.

[2016-05-26 10:31] gubuntu opened #13 "produce risk atlas"
depends on #12

This is a deliverable for Milestone 3

[2016-05-26 10:32] gubuntu opened #14 "pre-process datasets"
# Objective

We need to publish metadata for remote population datasets that need to be pre-processed before they can be used in InaSAFE
# Solution

Go through https://docs.google.com/a/fossgisacademy.com/spreadsheets/d/1ZkL4QzzbUSb7AD5ElLwVfVXtra3XHvzJqeRpO4v_ZUw/edit?usp=sharing and identify feeds that meet these criteria:
- cannot be used without modification in InaSAFE. i.e. they need some pre

[2016-05-26 10:34] gubuntu opened #15 "Build FloodTags feed service for OONDRA, usable by InaSAFE"
as the first instance of a hazard feed provided by this system, that can be ingested by InaSAFE

[2016-05-26 10:40] gubuntu opened #16 "ingest and use population feed in InaSAFE"
using the GeoSAFE  interface from #11

i.e. Successfully run at least one impact function in GeoSAFE using an exposure layer from OONDRA

this is a deliverable for Milestone 2

[2016-05-26 10:40] gubuntu opened #17 "ingest and use hazard feed in InaSAFE"
using the interfaces from #10 and #11

This is a deliverable for Milestone 3

[2016-05-26 10:43] gubuntu opened #18 "write test suite"
1. please point to geonode test suite
2. please point to geosafe-django test suite
3. write test(s) for the oondra extensions to GeoSAFE

[2016-05-26 10:44] gubuntu opened #19 "monitor feeds"
- view status of feeds

[2016-06-01 08:32] NyakudyaA opened #20 "Download world pop data and ingest it in geonode"
Publish worldpop service (minimum coverage Tanzania) metadata

[2016-07-01 06:28] rischanlab commented on #1
Hi @NyakudyaA is there any documentation or wiki of your work? so I can follow up.

Thanks.

[2016-07-01 06:53] NyakudyaA commented on #1
yes @rischanlab  can you set up a remote of my fork for the repo and see my notes

[2016-07-01 13:05] gubuntu commented on #20
@Nyakudya please update this with what you did with the geoserver REST API and then describe the service that supersedes that (which @timlinux mentioned) where you can already get worldpop via a service.
- [ ] find and reference the inaSAFE metadata structure specification in a wiki page in OONDRA Github
- [x] then create a metadata record for the worldpop service in the oondra geonode instance ac

[2016-07-01 14:04] gubuntu commented on #14
first instance is #12

[2016-07-01 14:25] gubuntu opened #22 "enable geonode to publish standalone metadata documents"
# Problem

In vanilla Geonode, a metadata document is always linked to a dataset stored in the Geonode backend.

There are many use cases, including this project, where we want it to function more like a generic metadata clearinghouse. So, many metadata records will refer to remote services or offline data sets and have no local dataset.
# Proposed solution

Remove the dependency of metadata recor

[2016-07-01 14:31] gubuntu commented on #22
@timlinux, @cchristelis who is the best person to tackle this?

[2016-07-01 14:42] gubuntu commented on #7
redundant

[2016-07-01 14:42] #7 closed, assigned to nobody

[2016-07-01 14:58] gubuntu opened #23 "Add dashboard widgets to GeoSAFE"
# Objective

Enhance and extend GeoSAFE if and where necessary to show more summaries, visualisations, graphs etc. that this project may require
# Proposed solution

Bring reporthub widgets into the GeoSAFE UI and configure them appropriately.

http://reporthub.immap.org

https://github.com/pfitzpaddy/ngm-reportHub

[2016-07-01 15:03] gubuntu opened #24 "Skin Geonode for OONDRA"
We need a distinctive look and feel for this portal to brand it and distinguish it from vanilla Geonode

Use design cues from InaSAFE and World Bank GFDRR Challenge resources

http://oondra.kartoza.com/

[2016-07-04 17:42] timlinux commented on #22
I think @ismailsunni but it is going to be a tight month time wise for him to work on it...

[2016-07-08 09:42] gubuntu commented on #1
@rischanlab please also configure nginx on kartoza5 to default to staging.kartoza.com in case a virtualhost (such as this one) does not respond. Or which should be default @timlinux? Currently it's defaulting to the catalogue staging site.

[2016-07-08 15:43] rischanlab commented on #1
Hi @gubuntu please see my PR.

Now Geonode is running on the staging. But really I am still not clear about this whole project. :(
![screen shot 2016-07-08 at 10 38 15 pm](https://cloud.githubusercontent.com/assets/2235894/16692947/36c89f9a-455d-11e6-835b-7d2a6be5bff6.png)

Thanks

[2016-07-10 14:44] timlinux commented on #1
Defaulting to staging.kartoza.com sounds fine too me.

[2016-07-11 09:10] NyakudyaA commented on #20
Downloading the data using the API created by samweli only produces vector output. The tool has already been incorporated into inasafe  [inasafe world pop integration ](https://github.com/Samweli/inasafe/tree/worldpop_integration)  but needs to be extended so that it can download world pop as raster layer.

![Population Downloader Icon](https://s32.postimg.org/x6ny5wynp/pop.png)

The source code f

[2016-07-11 10:30] gubuntu commented on #1
Note this is supposed to be running from source, not packages, see OP

[2016-07-11 14:54] rischanlab commented on #1
Hi @gubuntu about the staging domain. It seems the site already redirect to correct domain.
something like these:
http://staging.sdsdsada.kartoza.com
http://staging.test-domain.kartoza.com
http://staging.redirect-to-staging.kartoza.com

[2016-07-11 16:48] timlinux commented on #20
Hi

Probably better to file an upstream ticket with Samweli too for this (if you didn't already).

Regards

Tim

[2016-07-12 06:42] gubuntu commented on #20
@NyakudyaA please do items in https://github.com/kartoza/gfdrr_oondra/issues/20#issuecomment-229941270 today.

We do need worldpop as a raster layer for InaSAFE as a priority. @timlinux can we task (and subcontract?) Samweli to do this? We need it asap so if we can't bank on him to do it soon then we'll have to do it in-house (who would be best?).

[2016-07-12 07:38] gubuntu commented on #8
@lucernae please proceed with this at your earliest convenience - in a new InaSAFE feature branch?
- the first layer we will be providing is population (worldpop will be first of several options). Since this is a basic requirement for all InaSAFE sessions, I suggest a new button in the InaSAFE toolbar specifically for this base population raster. Then other layers can be fetched via a new option i

[2016-07-18 09:55] gubuntu commented on #1
@rischanlab and @NyakudyaA please try to get Geonode container(s) working properly (geoserver, ports, db container etc) before Rischan leaves. e.g. the Ash layer is giving pink tiles.

[2016-07-18 09:56] NyakudyaA commented on #1
yes @gubuntu I told @rischanlab what to do.

[2016-07-24 17:48] gubuntu commented on #1
@NyakudyaA you can now ssh into k5 to sort this out.

[2016-07-24 18:00] gubuntu commented on #4
@NyakudyaA please make comprehensive notes about everything you try and everything you discover; what worked, what didn't work, etc.  in addition to the brief comments in the spreadsheet. Put this in a Google Doc in the same folder as a draft of a report for this phase. If you mention something from the wiki you can reference the wiki so you don't repeat anything.

Exposure source feeds MUST be up

[2016-07-24 18:02] gubuntu commented on #24
@dimasciput can you take a look at this this week?

[2016-07-24 18:08] #9 closed, assigned to lucernae

[2016-07-24 18:09] gubuntu commented on #9
made part of #11

[2016-07-24 20:44] gubuntu opened #26 "MetaSearch Search not working"
Metasearch service info (getcapabilities) is working with http://staging.oondra.kartoza.com/catalogue/csw but Search returns
`Connection error: <urlopen error [Errno 111] Connection refused>`

Please investigate, this needs to work

[2016-07-27 07:11] NyakudyaA commented on #26
I have got it working on my local machine. I will update staging with the changes I have done.

[2016-07-27 10:11] NyakudyaA commented on #26
working properly now

[2016-07-27 10:11] #26 closed, assigned to NyakudyaA

[2016-07-27 14:45] NyakudyaA commented on #20
I have uploaded all Tanzania raster and ingested them in inasafe. Updated the wiki for what what I have done and layer naming conventions

[2016-07-28 06:34] lucernae opened #27 "Metadata Search"
Taken from discussion with @gubuntu :
1. yes please implement interaction with both geonode API and CSW. Tim suggested you do geonode API first but you've already proceeded with CSW as well. Client should figure out if target is geonode and if so use its API as an 'extra'. But default must be csw since all metadata clearinghouses use that standard. If you use both then how to present results? Two

[2016-07-28 12:34] NyakudyaA opened #28 "We need an automated way to generate metadata"
# Problem

Currently ingesting layers in geonode allows you to preserve metadata that is already associated with a layer. Geonode also generates metadata for a layer which contains wcs ,wfs endpoints. So we need a way to automatically combine the two metadata documents to generate a single metadata with all the necessary information.

We need to upload layers using geonode management commands

[2016-09-01 13:00] NyakudyaA opened #29 "Improve geonode metadata handling"
# Problem

When uploading a layer using the geonode api there is a preserve metadata option which works for preserving metadata generated by inasafe.

 `python manage.py  importlayers`
- Using this option it then implies that geonode does not add it's own metadata details which
  include wfs/wms/wcs endpoints.
- The metadata record uploaded this way  is locked. It cannot be further edited using th

[2016-09-01 13:23] NyakudyaA opened #30 "Improve geonode metadata in database"
# Problem

When uploading a layer without specifying the preserve metadata tag.  The inasafe keywords cannot be added to the geonode ui because the inasafe keywords are xml encoded with tags.
 The metadata record is uploaded to the postgres database  `base_resourcebase`.

Example:
`<gmd:supplementalInformation>
        <inasafe_keywords/>
        <inasafe>
          <population_field>

[2016-09-26 09:01] NyakudyaA opened #31 "Upload of remote layers in Geosafe"
# Problem

Currently no method exist to fetch layers + metadata from http://oondra.kartoza.com/
# Solution

Implement a method to fetch layers in external geonode. On upload layer in geosafe add url parameter to fetch layer so that analysis can be run

[2016-09-29 08:10] #1 closed, assigned to rischanlab

[2016-09-29 08:33] gubuntu opened #32 "merge data source wiki page into spreadsheet"
merge https://github.com/kartoza/gfdrr_oondra/wiki/Data-Feeds into https://docs.google.com/spreadsheets/d/1ZkL4QzzbUSb7AD5ElLwVfVXtra3XHvzJqeRpO4v_ZUw/edit?userstoinvite=ephillipo@gmail.com&ts=579f5ff5#gid=0 and then delete the wiki page.

The spreadsheet must show your descriptions, plus:
- link to published layer in oondra OR
- GH issue for what needs to be done to publish that layer

[2016-09-29 08:36] gubuntu opened #33 "publish worldpop api in oondra"
Worldpop data was downloaded manually and published in oondra in #20 but it would be nice to demonstrate accessing it directly through oondra.

Downloading the data using the API created by samweli only produces vector output. The tool has already been incorporated into inasafe  [inasafe world pop integration ](https://github.com/Samweli/inasafe/tree/worldpop_integration)  but needs to be extended

[2016-09-29 08:38] gubuntu commented on #20
@NyakudyaA tick the outstanding item in https://github.com/kartoza/gfdrr_oondra/issues/20#issuecomment-229941270 asap then close

[2016-09-29 08:51] #4 closed, assigned to NyakudyaA

[2016-09-29 09:04] gubuntu commented on #2
Specifically:

Worldpop data was downloaded manually and published in oondra in #20 but it would be nice to demonstrate accessing it directly through oondra.

Downloading the data using the API created by samweli only produces vector output. The tool has already been incorporated into inasafe  [inasafe world pop integration ](https://github.com/Samweli/inasafe/tree/worldpop_integration)  but needs

[2016-09-29 09:06] gubuntu commented on #5
Tanzania floods and earthquakes layers are loaded and published

[2016-09-29 09:06] #5 closed, assigned to NyakudyaA

[2016-09-29 13:54] gubuntu commented on #22
@timlinux does @ismailsunni have some time now to look at this?

[2016-09-29 14:04] gubuntu opened #34 "publish OSM flood data through OONDRA Geonode"
Community-mapped inundation data for Dar es Salaam is stored in OSM according to [link to doc from Mark Iliffe] and can be retrieved with this overpass query [query to be provided by Mark Iliffe].

We need to use kartoza/docker-osm to maintain a local copy of these on the OONDRA server and publish them through the OONDRA Geonode.

in other words, they will not be traditional Geonode layers but are

[2016-09-29 14:04] gubuntu commented on #14
first instance is #34

[2016-09-29 14:05] NyakudyaA commented on #34
@gubuntu  The flood data I published I got it from such an overpass by Samweli

[2016-09-29 14:06] gubuntu opened #35 "publish local hi-res Tanzania population data"
If and when high res raster data arrives, load and publish it with metadata

[2016-09-29 14:09] gubuntu opened #36 "load and publish Dar flood dems"
this refers to dems and point clouds of Dar es Salaamfrom Mark Iliffe

these are not directly hazard layers but can be used as WMS basemaps or WCS inputs into certain impact functions?

This relates to (depends on) successful stitching of adjacent DEMS and subsequent probabilistic flood models being generated, which must in turn be published on oondra.

[2016-09-29 14:15] gubuntu commented on #31
@lucernae is busy with this

[2016-09-29 14:18] gubuntu commented on #30
@nyakudya please clean up your description, it's hard to follow. This needs to go upstream to the Geonode project, which @lucernae can do

[2016-09-29 14:20] gubuntu commented on #29
This also needs to go upstream to Geonode. @lucernae please ask @NyakudyaA to claridy if you're not clear. Do this and #30 mesh with general geonode metadata improvements that @timlinux has been discussing?

[2016-09-29 14:22] gubuntu commented on #28
for upstream geonode

[2016-09-29 14:23] gubuntu commented on #27
@lucernae is busy with this

[2016-09-29 14:26] gubuntu commented on #17
and flood data from #34

[2016-09-29 21:22] timlinux commented on #22
@gubuntu I'm sorry I can't take him off InaSAFE work right now - we have a tight deadline for mid nov to stick too....I think we need to get some more team members on board for this....

[2016-09-30 05:52] gubuntu commented on #22
@Gustry ? @lucernae ? ...note support from Tom Kralidis

[2016-10-09 16:58] NyakudyaA opened #37 "Publish official population data for Tanzania"
# Problem

Official population statistics are provided in csv or spreadsheet which means before they are usable they need to be joined to administrative boundary shapefile.
# Solution

Data has been downloaded from [official population](http://www.devinfo.org/CensusInfoTanzania/libraries/aspx/Home.aspx)
and official boundaries have been downloaded from OSM and combined in QGIS and then generate a

[2016-10-09 16:59] NyakudyaA commented on #37
This has already been done and it is published in oondra

[2016-10-09 16:59] #37 closed, assigned to nobody

[2016-10-09 17:39] NyakudyaA opened #38 "publish gridded world population"
# Problem

Manually download the various population datasets from [gridded pop](http://sedac.ciesin.columbia.edu/data/collection/gpw-v3/sets/browse). There are various resolution and all these need to be incorporated downloaded and given names which are descriptive
# Solution

To ingest these datasets in geonode they need to have keywords generated. Import them into QGIS and generate keywords usin

[2016-10-09 18:24] NyakudyaA commented on #38
will publish all the other resolutions with well defined names

[2016-10-09 18:36] NyakudyaA opened #39 "publish facebook data as it becomes available"
# Problem

From [facebook population](http://blogs.ei.columbia.edu/2016/02/22/working-with-facebook-to-create-better-population-maps/) publish the data once it becomes available
# Solution

Data has not yet been made publicly available. Keep tabs with the site and update data as it becomes available and investigate the format and what needs to be down for it to be usable with oondra

[2016-10-11 10:03] gubuntu opened #40 "deployment documentation"
please add notes in the wiki detailing how to deploy docker-geonode for the oondra platform

[2016-10-14 17:56] lucernae commented on #30
@NyakudyaA the fastest way to do something like this is for now is to strip inasafe keywords tags and insert it to supplementalInformation using Geonode's Edit Layer UI (click the layers > Edit Layers > Edit Metadata > Supplemental Information). However this string will be escaped, so I need to do another preprocess to insert it to GeoSAFE. But with this, I would be able to easily find that InaSAF

[2016-10-14 18:00] lucernae commented on #31
layers can be fetched and I've been busy with trying to extract metadata using CSW. This past few days I finally got the click on understanding it.
For now I suggests we embed InaSAFE keywords in the supplementalInformation described here:
#30

[2016-10-14 18:07] lucernae opened #41 "Previewing the layer before fetching it to GeoSAFE"
For WFS, I think it is possible to preview the layer in the Add Layer dialog in GeoSAFE.
I tried to use json request but it got denied because of cross origin requests.
So, I read that, in order for GeoSAFE to be able to preview staging oondra's WFS layer, we need to enable jsonp output format.
This is the article I mentioned [http://gis.stackexchange.com/questions/64406/getting-wfs-data-from-geos

[2016-10-28 15:24] gubuntu commented on #24
Thanks @dimasciput, looks great. Please remind me in which repo the skin mod is stored (InaSAFE I think) and write a little wiki page on https://github.com/kartoza/gfdrr_oondra/ documenting which files you deployed where to apply the skin.
I'd like to change some text on the front page, it doesn't look like I can do that through admin, which file(s) do I need to edit?
@dimasciput do you think you

[2016-10-28 15:28] gubuntu commented on #19
Configure Prometheus to monitor service and feed status on http://oondra.kartoza.com/. Deploy Prometheus master on mountain and then configure a Prometheus (host and Django) client for OONDRA. This will be a good test case for Kartoza and is a deliverable for OONDRA.

Highest priority for first thing Monday morning @rischanlab please.

[2016-10-30 08:43] gubuntu opened #43 "some layers not drawing and no thumbnails working"
please fix urgently

[2016-10-31 05:39] rischanlab commented on #19
Hi @gubuntu @cchristelis

I have tried in my local machine inside the docker-machine to run prometheus with Gravana
Inside my docker-machine I run docker-osm containers. The result below:

**Docker host monitoring:**

![screen shot 2016-10-31 at 12 18 44 pm](https://cloud.githubusercontent.com/assets/2235894/19845098/2eda2098-9f66-11e6-84e9-5a357ffd232b.png)
1. Server uptime, CPU idle percent, num

[2016-11-07 11:52] NyakudyaA commented on #40
added notes. Starting and recreating containers uses makefile with the standard commands that are uniform across all projects

[2016-11-07 11:52] #40 closed, assigned to NyakudyaA

[2016-11-07 11:53] NyakudyaA commented on #34
I have published the osm data through geoserver and it is available in oondra

[2016-11-07 11:53] #34 closed, assigned to rischanlab, NyakudyaA

[2016-11-07 12:28] NyakudyaA opened #45 "create new map not working in geonode"
# Problem

When in layer preview mode trying to generate  a map results in `504 Gateway Time-out
nginx/1.6.2 ` error .

# Solution

Geoexplorer seems to be using the internal ip address inside the docker container. This makes it impossible to access layers from geoserver external ip.  Adding a server `http://localhost:8080/geoserver/wms` results in the layers being accessible but they are however

[2016-11-08 12:35] NyakudyaA commented on #43
The thumbnails are not working mainly because they are loaded in the db as `port 8000` instead of  the external port `port:8111`. From the database `select thumbnail_url from base_resourcebase where thumbnail_url is not null;` returns the value with incorrect ports.

Solution: we need to fix the upload script so that it has correct url

[2016-11-08 18:55] gubuntu commented on #43
Thanks @NyakudyaA, please go ahead and fix the script and fix the layers in place.

[2016-11-09 04:43] gubuntu opened #46 "configure nginx for production site"
Since we don't really need a staging site for oondra and we're at the end of the project, please configure k5 nginx where http://staging.oondra.kartoza.com is currently accepting requests to also accept requests at http://oondra.kartoza.com

[2016-11-14 07:00] rischanlab commented on #46
Hi @gubuntu I have edited nginx conf on Kartoza5 to accept [http://oondra.kartoza.com](http://oondra.kartoza.com), but it seems that domain did not pointed to Kartoza5 yet.

![screen shot 2016-11-14 at 1 56 34 pm](https://cloud.githubusercontent.com/assets/2235894/20255840/56352c7a-aa72-11e6-88cc-20e38a97dc24.png)

Thank you

[2016-11-14 07:09] rischanlab commented on #45
Hi @NyakudyaA Is this issue already fixed?

I open Geoserver on the staging then see layer preview everything working fine.
Or maybe I missunderstand with this issue.
Could you confirm it Admire?

Thank you

[2016-11-14 09:45] NyakudyaA opened #47 "Make oondra layers and metadata usable in Inasafe QGIS"
# Problem

We need a user to be able to download a layer with it's associated metadata and be directly usable in Inasafe in QGIS.

# Solution

Do not escape the metadata in the client side. Metadata should be properly formatted to conform with the geonode format before uploading it into geonode or at the insertion point into the database.

[2016-11-14 15:02] gubuntu commented on #46
oondra and staging.oondra are both pointing to k5. CDN was switched on for oondra, that's why you got a different IP address. I have switched off CDN now so it should ping k5, but that still doesn't fix the nginx config issues

[2016-11-15 02:12] rischanlab commented on #46
Its done @gubuntu

[2016-11-15 02:12] #46 closed, assigned to rischanlab

[2016-11-16 11:00] gubuntu opened #48 "flesh out deployment functionality"
AT the moment, the deployment code in the repo does the following afaik:
- spin up a vanilla geonode

We need it to do the following too:
- apply the OONDRA skin (#24)
- change the text on the home page to reflect the OONDRA brand:
 - replace 'Geonode' with 'OONDRA' in menu bar. Keep Geonode star logo or ask @dimasciput to design one.
- replace Welcome text with:

OONDRA, the Online Operational Na

[2016-11-18 08:58] NyakudyaA opened #49 "Make metasearch intutive in geosafe"
# Problem

Currently the only way you can search for records using metasearch is by having to know the url for csw and also the search uses keywords as the main criteria. There is no way to list all layers coming from oondra. When a csw request is done it should give a list of all layers if there are no keywords specified.

# Solution
Allow a user to search metadata without typing the keywords. Th

[2016-11-21 06:20] gubuntu commented on #31
@lucernae please comment on status and fix or close

[2016-11-21 06:24] gubuntu commented on #27
@lucernae please comment and complete or close

[2016-11-21 06:25] gubuntu commented on #11
@lucernae please comment and fix or close

[2016-11-21 06:28] gubuntu commented on #43
@NyakudyaA this is fixed, right? For all layers and in load procedure and not just a workaround? Please comment and complete or close

[2016-11-21 06:31] NyakudyaA commented on #43
All layers are working fine now. If you load a layer it will generate the correct thumbnail.

[2016-11-21 06:31] #43 closed, assigned to NyakudyaA

[2016-11-21 06:36] gubuntu commented on #19
Monitor everything on the host. (default) Please comment on progress.

[2016-11-21 06:37] gubuntu commented on #18
@lucernae please comment and do today if possible

[2016-11-21 06:39] gubuntu commented on #36
@NyakudyaA please comment - these layers are in the WB Box folders. Once loaded please comment on which layers they are in OONDRA then close

[2016-11-21 06:41] gubuntu commented on #24
@dimasciput please wrap this up to close asap. Communicate with @rischanlab as this relates to #48

[2016-11-21 07:10] gubuntu commented on #28
@NyakudyaA please ensure the current workaround / best procedure is documented (state where). Also reference the  upstream Issue you created or commented on with this requirement, then close

[2016-11-21 07:20] NyakudyaA opened #50 "Load layers from Box to oondra"
- 1,2,3 and 4m floods in [https://app.box.com/files/0/f/11632942697/Flood_1m](url) (as InaSAFE Hazard layers) ***this is the highest priority

 - a DEM or DEMs (mosaiced for Dar) from [https://app.box.com/files/0/f/11592143782/DEM_1m](url) or [https://app.box.com/files/0/f/3568953041/DEM](url) (as a potential InaSAFE WCS base layer) ***high priority

 - a satellite image or mosaic from [https://ap

[2016-11-21 07:21] NyakudyaA commented on #36
All flood layers from [Flood]( https://app.box.com/files/0/f/11632942697/Flood_1m) have been loaded in oondra and they are named Dar es Salaam Flood (depth)M in oondra.  Other layers from  #50
have been loaded.

[2016-11-21 07:21] NyakudyaA commented on #50
Loaded the layers

[2016-11-21 08:23] gubuntu commented on #8
@NyakudyaA use this Issue for the QGIS testing you're busy with. We're not going to develop any new QGIS interface in this project now so move the appropriate components to an upstream InaSAFE ticket as discussed in our standup and document a working procedure.

[2016-11-21 08:26] gubuntu commented on #3
OSM flood data is as close as we're going to get to a remote hazard feed in this Phase. @NyakudyaA please confirm that the flood layers' metadata is populated (normal metadata and InaSAFE keywords) then close

[2016-11-21 08:28] gubuntu commented on #10
See #9. Upstream InaSAFE tickets created and existing QGIS tools used in this phase. Procedure documented.

[2016-11-21 08:28] #10 closed, assigned to nobody

[2016-11-21 08:30] gubuntu commented on #2
Worldpop and other datasets loaded and metadata published. No live feeds found. This Worldpop API comes close https://github.com/codeforresilience/worldpop-api but we could find no advantage to just downloading the worldpop data and publishing it.

[2016-11-21 08:31] #2 closed, assigned to nobody

[2016-11-21 08:34] gubuntu commented on #14
#34 done, also OSM buildings. We struggled to find other sources that meet the objectives of this Issue

[2016-11-21 08:34] #14 closed, assigned to nobody

[2016-11-21 08:36] gubuntu commented on #38
@NyakudyaA  please comment on progress and do some other ones or close. You could also publish one or more of the FaceBook / CIESIN countries that have been released (#39; low priority, since Tanzania hasnot been released yet)

[2016-11-21 08:38] gubuntu commented on #35
duplicate of #39

[2016-11-21 08:38] #35 closed, assigned to nobody

[2016-11-21 08:47] gubuntu commented on #45
@NyakudyaA @rischanlab from what you report, this is working now. Please reopen if not.

[2016-11-21 08:48] #45 closed, assigned to rischanlab

[2016-11-21 08:49] gubuntu commented on #47
@NyakudyaA is there something @lucernae must do here? Or it is a matter of you finding out from Rizky how to structure the metadata so that it works in QGIS and GeoSAFE?

[2016-11-21 08:51] gubuntu commented on #49
Make this an upstream geosafe ticket?

[2016-11-21 09:55] NyakudyaA commented on #49
after testing again. It seems the search is working properly now without keywords.

[2016-11-21 09:55] #49 closed, assigned to lucernae

[2016-11-21 11:31] gubuntu opened #51 "Merge oondra docker osm branch"
Merge or otherwise manage the oondra-specific changes in https://github.com/rischanlab/docker-osm into a suitable place - they can't stay in your fork.

[2016-11-21 11:51] gubuntu opened #52 "populate metadata"
Metadata for most if not all layers is very incomplete (this should have been done when loading the layer). e.g. http://oondra.kartoza.com/layers/geonode:population_density_adjusted_to_2015_country_totals_2015/metadata_detail

For ALL layers, these MUST be present:
- abstract
- owner information (who owns the data; where did we get it from; attribution)
- thumbnail (why not appearing in above link

[2016-11-21 11:52] NyakudyaA commented on #20
The only missing part is the integration of the samweli's inasafe branch and get the ui directly in inasafe or merging his branch into geosafe.

[2016-11-21 11:53] gubuntu commented on #20
@NyakudyaA please read my comment carefully before closing

[2016-11-21 11:54] NyakudyaA commented on #52
@gubuntu  what is the contact point, and owner information is it the source of the data

[2016-11-21 12:06] gubuntu opened #53 "remove all traces of 'staging' from oondra domains"
I updated the site in Django to oondra.kartoza.com yes many links generated by the site still contain 'staging' in the domain name.

Please fix

[2016-11-21 12:12] gubuntu opened #54 "fix domains"
even though the site domain is now oondra.kartoza.com, there are links in the system with 'localhost' or 'staging' as the domains. ALL links should have oondra.kartoza.com as the domain.

This is why thumbnails and some other funcitonality is not working.

When are these generated and how are they maintained? It should be automated, not manual.

e.g. see links in here

http://oondra.kartoza.com/ca

[2016-11-21 12:30] NyakudyaA commented on #54
@gubuntu the reference to staging is because when the site was setup it was meant to be staging hence in the `geonode/settings.py` we specify the url that the instance will fetch. Currently this is set to `http://staging.oondra.kartoza.com:8181/geoserver/` so any metadata generated will contain that. I am not sure even if we restart oondra with the new url it will update the old url endpoints othe

[2016-11-21 23:22] rischanlab commented on #19
Hi @gubuntu the ping result of monitor.kartoza.com is 104.27.136.153. It seems that domain does not pointed to mountain.

The progress:

I have installed Prometheus on mountain, please login to http://196.214.55.116:3000/

Username : admin
Password : kartoza

I already setup monitoring system for two servers which are Mountain and Kartoza5.
Press home button to see all stuff which available on the

[2016-11-21 23:24] rischanlab commented on #54
Hi @NyakudyaA should I change the url inside the settings.py then re-build the OONDRA?
I just worried hehee.

Thank you

[2016-11-21 23:54] rischanlab commented on #51
Hi @gubuntu  I have updated the repo. Docker-osm stuff now available inside the gfdrr repo.
Please see the develop branch of gfdrr repo https://github.com/kartoza/gfdrr_oondra/tree/develop
Please merge develop branch to master branch if you agree.

Thank you

[2016-11-22 06:18] NyakudyaA commented on #54
@rischanlab  I think you should just change the url inside the settings file and then stop and start the container. I am not sure if it will pick up the changes. I think we might need to test on our local machines then apply on oondra. If stopping and restarting does not pick up the changes then rebuilding should be done.

[2016-11-22 06:23] gubuntu commented on #54
Let's not make any drastic changes (like rebuilding everything). I think you can change settings.py to remove the 'staging' subdomain. I don't think existing urls with 'staging' will be problem since that url still points to the same instance. Do yo agree?

What's more of a problem are the localhost urls since they won't work from outside - any idea how to resolve that?

[2016-11-22 13:33] NyakudyaA commented on #52
i have populated the metadata. just need to stop and restart the container again

[2016-11-22 13:57] gubuntu commented on #52
can you do that? If not ask @rischanlab

@rischanlab please confirm that backups are operational.

[2016-11-22 20:22] rischanlab commented on #52
Hi @gubuntu  I saw all docker gfdrr containers start 6 hours ago.
It seems @NyakudyaA has been restarted the containers.

I think everything is working fine.
But for the http://staging.oondra.kartoza.com/catalogue/csw?outputschema=http%3A%2F%2Fwww.isotc211.org%2F2005%2Fgmd&service=CSW&request=GetRecordById&version=2.0.2&elementsetname=full&id=5f8987b4-aff7-11e6-a16d-0242ac110025

thumbnails url st

[2016-11-23 03:16] rischanlab commented on #24
Hi @dimasciput
could you design the logo for OONDRA.

I have changed the description of OONDRA live site except the logo.

![screen shot 2016-11-23 at 10 08 31 am](https://cloud.githubusercontent.com/assets/2235894/20550097/d75cb3f6-b164-11e6-9920-adf0ee7c8997.png)

Thank you

[2016-11-23 04:43] rischanlab commented on #19
Hi @gubuntu May I close this issue?

Now the monitor available on http://monitor.kartoza.com
The monitoring systems are available for Mountain and K5 server.

Thank you.

[2016-11-23 04:44] rischanlab commented on #51
Hi @gubuntu May I merge the develop branch to master in gfdrr repo then close this issue?

Thank you

[2016-11-23 07:11] NyakudyaA commented on #52
@rischanlab Already updated metadata will not be updated by the changes. Its for new data that will  be uploaded that will have the new changes. I have updated the old ones to have the new changes. I will try to upload a new dummy layer and see if the changes work

[2016-11-23 07:21] rischanlab commented on #52
Ok @NyakudyaA 👍
waiting to see the dummy layer.

[2016-11-23 10:37] NyakudyaA commented on #47
Currently working with remote layers in inasafe and using their metadata is not possible as [https://github.com/inasafe/inasafe/issues/3475](url). The only way will be to download the layer and it's metadata. No method or plugin currently exist to allow downloading of metadata

[2016-11-23 13:18] NyakudyaA opened #56 "Properly format metadata so that it is usable in QGIS inasafe"
# Problem
Currently the only way to upload metadata into geonode is using the geonode UI. This however returns metadata which is not properly formated as indicated below:

![inasafe_orig](https://cloud.githubusercontent.com/assets/2510900/20562028/3d1407ce-b18a-11e6-8612-dc7b4ac6053a.png)

The above is what you see in the browser when you click the download metadata. As seen in this request: [http

[2016-11-23 13:19] NyakudyaA commented on #47
@lucernae  we need to properly format the metadata either when it is ingested in the database or in the geonode gui. I will close this this ticket and open a new one #56

[2016-11-23 13:19] #47 closed, assigned to lucernae, NyakudyaA

[2016-11-25 13:56] NyakudyaA commented on #56
@lucernae  I have tested this on my local machine and it works fine now. I can now return all properly formatted metadata.  [metadata structure](https://github.com/kartoza/gfdrr_oondra/wiki/Ingesting-data-into--Geonode#metadata-structure). I haven't deployed on oondra yet. If @rischanlab  can test first on his machine to confirm.

![kewy](https://cloud.githubusercontent.com/assets/2510900/20627277

[2016-11-25 14:04] NyakudyaA commented on #41
@lucernae  Is this still relevant

[2016-11-25 14:05] NyakudyaA commented on #38
have populated them with metadata. Will look at #39 next

[2016-11-25 14:05] #38 closed, assigned to NyakudyaA

[2016-11-25 14:10] NyakudyaA commented on #30
@lucernae  I have written database triggers to correct the special characters that are inserted into the metadata record. If we go ahead with it we will return metadata that is properly formated and this would mean some code in geosafe needs to match this. This helps us when using metadata in QGIS.  [metadata](https://github.com/kartoza/gfdrr_oondra/wiki/Ingesting-data-into--Geonode#metadata-struc

[2016-11-25 14:18] NyakudyaA commented on #29
We no longer need this because we are using geonode UI to upload keywords.  When uploading layers with the preserve option geonode guys say the only way to update  the metadata is to re import with a new metadata. They also say they have deliberately made the metadata not editable because they cannot figure out how the metadata being imported fits into their models. In our case importing with a me

[2016-11-25 14:18] #29 closed, assigned to lucernae

[2016-11-25 14:39] NyakudyaA commented on #28
Currently we uploading layers using geonode UI. [geonode_upload](https://github.com/kartoza/gfdrr_oondra/wiki/Uploading-layer-into-geonode)

[2016-11-25 14:39] #28 closed, assigned to lucernae

[2016-11-27 12:28] gubuntu commented on #52
@NyakudyaA many layers still do not have metadata, e.g. World population density

[2016-11-27 12:31] gubuntu opened #57 "Style population layers"
world population layers are all B&W. Please apply a stretched grey or pseudocolour ramp.

[2016-11-27 12:36] gubuntu opened #58 "Earthquake metadata and legend units"
This is just one example, please check other layers too

There are no units in the legend nor in the metadata and almost no other information in the metadata

http://oondra.kartoza.com/layers/geonode:nsunga_tanzania

please fix

[2016-11-27 12:49] gubuntu opened #59 "clarify flood metadata"
Example: oondra.kartoza.com/layers/geonode:dar_flood_1m

This Abstract can't be correct: High-resolution aerial photo captured by drones representing extent of flooding at 1m

And is it modelled data? Actual flood incidence?

[2016-11-27 13:19] gubuntu commented on #50
I don't see any DEM layers in oondra

[2016-11-27 13:20] gubuntu commented on #36
where are the DEMS?

[2016-11-27 13:26] gubuntu opened #60 "tidy up population layers"
There are at least four groups of population layers. Please update layer names and metadata to distinguish them or remove duplicate.
- Tanzania pop density
- Population density adjusted...
- gpw_v4_population density...
- Tza_popmap...

[2016-11-27 13:27] gubuntu opened #61 "tidy up imagery layers"
aerial images from the same date should be in a mosaic, not separate.

[2016-11-27 13:52] gubuntu commented on #24
@dimasciput @rischanlab OONDRA has reverted to vanilla Geonode. Please redeploy the skin with the OONDRA logo as a matter of urgency, in a repeatable way (i.e. with deployment code in the oondra repo).

cc @cchristelis

[2016-11-28 15:35] lucernae commented on #41
It works for WMS layer now (it was displayed in preview).
For WFS, I haven't found any way to display it to preview. Possible way is to enable JSONP in WFS, and have GeoSAFE displayed it using JSONP.
So for WFS, we're not able to show the preview.

[2016-11-28 16:01] lucernae commented on #30
I would say to go with it. So, I will change the code in GeoSAFE if you already made changes to oondra.

[2016-11-28 19:34] gubuntu commented on #41
WMS can (and should) be used for previews in all cases

[2016-11-28 19:35] gubuntu commented on #30
I don't think database triggers are a good long term solution unless they are scripted into the oondra deployment repo.

[2016-11-29 07:26] gubuntu commented on #51
please check with @cchristelis what the best practice is for something like this. I'm sure it's not a good idea to merge from one repo into another. I think just the oondra-specific configs for docker-osm should be placed into the oondra deployment orchestration in the oondra repo.

[2016-11-29 07:32] gubuntu commented on #54
@rischanlab please update status and close if fixed

[2016-11-29 07:33] #12 closed, assigned to gubuntu

[2016-11-29 07:33] #17 closed, assigned to gubuntu

[2016-11-29 07:33] #16 closed, assigned to gubuntu

[2016-11-29 10:17] #53 closed, assigned to rischanlab

[2016-11-29 10:17] #48 closed, assigned to rischanlab

[2016-11-29 10:18] #19 closed, assigned to rischanlab

[2016-11-29 11:09] rischanlab commented on #24
I will close this issue.
The logo created by @dimasciput
Thanks dimas
![screen shot 2016-11-29 at 6 08 12 pm](https://cloud.githubusercontent.com/assets/2235894/20707661/e11a953a-b65e-11e6-831a-b8f992d5d8a9.png)

[2016-11-29 11:09] #24 closed, assigned to dimasciput

[2016-11-29 11:29] #54 closed, assigned to rischanlab

[2016-11-29 11:39] rischanlab commented on #51
Hi @gubuntu previously I was using approach which similar with this https://github.com/kartoza/docker-geosafe/tree/develop/src

And I use `external link` to linking db geonode to db osm because they came from difference docker-compose.yml. But that was not stable.

So, I just decide to make it in one compose-file, and I made it in one project Id -> https://github.com/kartoza/gfdrr_oondra/blob/deve

[2016-11-29 14:33] gubuntu commented on #24
Thanks @dimasciput and @rischanlab

Except @rischanlab, the last line (in parentheses) was meant for you to check, not to display!

[2016-12-02 09:50] NyakudyaA commented on #36
http://staging.oondra.kartoza.com/layers/geonode:dar_flood_1m. These are the Flood DEMS

[2016-12-02 10:35] gubuntu commented on #36
nope those are flood models. There are separate DEM layers. I'll leave this open but please leave the OONDRA work for now.

[2017-04-10 11:26] gubuntu opened #62 "server maintenance"
1. remove geonode instance from crevice (196.214.55.117). This used to be geosafe.kartoza.com.
2. Move production OONDRA geonode from kartoza5 (213.133.111.115) to crevice (196.214.55.117) or to another capable host (@timlinux?). oondra.kartoza.com is already pointing to crevice.
 - upgrade to vanilla Geonode 2.6 (Geoserver)
 - ensure all OONDRA data comes across successfully
 - Note that staging

[2017-04-10 20:58] timlinux commented on #62
Yeah we should do a review of what is running on those old laptops in the server cabinet and then use then for staging / testing rancher etc. Otherwise lets spin it up on a VPS if needed.

[2017-04-11 20:18] gubuntu commented on #8
mostly available in MetaSearch and through WB GeoSAFE extension work

[2017-04-11 20:18] #8 closed, assigned to NyakudyaA

[2017-04-11 20:20] gubuntu commented on #31
was done with 'Metasearch' plugin

[2017-04-11 20:21] #31 closed, assigned to lucernae

[2017-04-11 20:22] gubuntu commented on #11
was done, being extended with WB extension work

[2017-04-11 20:22] #11 closed, assigned to lucernae

[2017-04-11 20:23] gubuntu commented on #13
a basic risk atlas of tanzania was produced as part of the final report

[2017-04-11 20:23] #13 closed, assigned to gubuntu

[2017-05-10 07:49] gubuntu opened #63 "set up and document backups"
set up complete backups of OONDRA database and all file data (geoserver_data_dir etc)

then tower of hanoi backups

then btsync with Stb and Joburg offices and remote backups there.

Also pull together all backup documentation into a comprehensive backup procedure

[2017-06-13 13:56] gubuntu commented on #62
http://oondra.kartoza.com production is successfully running on a Kartoza Hetzner DE server

[2017-06-13 13:56] #62 closed, assigned to NyakudyaA

[2017-06-13 13:59] gubuntu commented on #6
This issue was moved to kartoza/geosafe#132

[2017-06-13 13:59] #6 closed, assigned to lucernae, NyakudyaA

[2017-06-13 14:00] gubuntu commented on #27
This issue was moved to kartoza/geosafe#133

[2017-06-13 14:00] #27 closed, assigned to lucernae

[2017-06-13 14:01] gubuntu commented on #30
This issue was moved to kartoza/geonode#269

[2017-06-13 14:01] #30 closed, assigned to lucernae

[2017-06-13 14:01] gubuntu commented on #56
This issue was moved to kartoza/geonode#270

[2017-06-13 14:01] #56 closed, assigned to lucernae, NyakudyaA

[2017-09-19 15:31] gubuntu commented on #41
This issue was moved to kartoza/geonode#331

[2017-09-19 15:31] #41 closed, assigned to nobody

[2017-09-19 15:31] gubuntu commented on #22
This issue was moved to kartoza/geonode#332

[2017-09-19 15:31] #22 closed, assigned to nobody

[2018-11-02 09:28] #18 closed, assigned to lucernae

[2018-11-02 09:38] #61 closed, assigned to NyakudyaA

[2018-11-02 09:39] #36 closed, assigned to NyakudyaA

[2018-11-02 09:42] #32 closed, assigned to NyakudyaA

[2018-11-02 09:42] #52 closed, assigned to NyakudyaA

[2018-11-02 09:48] #3 closed, assigned to NyakudyaA

[2018-11-02 09:48] #20 closed, assigned to NyakudyaA

[2018-11-02 09:48] #58 closed, assigned to NyakudyaA

[2018-11-02 09:49] #59 closed, assigned to NyakudyaA

[2018-11-02 09:49] #57 closed, assigned to NyakudyaA